.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 25rem;
  width: 100%;
  height: auto;
}
.containerImg {
  background-image: url("./Image/woman.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.card {
  min-height: 35rem;
  justify-content: center;
  width: 400px;
  height: auto;
  border: solid black;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 25rem;
  background-color: #ffaa00;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;

  /* box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) ; */
}
.card:hover {
  transition: all 0.7s linear;
}

.cardBody {
  padding: 2rem 0 !important;
}

.cardText {
  position: relative;
  max-height: 10.5rem;
  overflow-y: hidden;
  transition: all 0.25s;
  margin: 0 auto;
}
.expand {
  max-height: max-content;
}
.overflow {
  overflow: hidden;
}

.cardImgTop {
  margin-top: 5px;
  transform: scale(1);
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}

.cardImgTop:hover {
  transform: scale(1.1);
  border-radius: 2rem;
}

.containerBtns {
  display: flex;
  justify-content: space-between;
}

.btnLike {
  width: 5rem;
  height: 5rem;
  justify-content: center;
  background-image: url("./Image/heartBlack2.png");
  border-radius: 50%;
  background-position: center;
  background-position-y: 0.6rem;
  background-position-x: 0.55rem;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: whitesmoke;
  border: 0.2rem solid black;
}
.btnLike:hover {
  background-color: #3cb95c;
  color: #45cd8f;
  border-radius: 50%;

  background-image: url("./Image/heartBlack4.png");
}

.btnNope {
  width: 5rem;
  height: 5rem;
  justify-content: center;
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-position-y: 0.15rem; */
  /* background-position-x: -0.02rem; */
  background-image: url("./Image/cancelBlack.png");

  border: 0.2rem solid black;
}
.btnNope:hover {
  background-color: black;
  background-image: url("./Image/cancelRed.png");
  background-position: center;
  background-size: 80%;
  border: 0.1rem solid black;
}

.btnDelete {
  width: 5rem;
  height: 5rem;
  justify-content: center;
  background-image: url("./Image/deleteBlack7.png");
  border-radius: 50%;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: whitesmoke;
  border: 0.2rem solid black;
}
.btnDelete:hover {
  background-color: #ee2222;
  background-image: url("./Image/deleteBlack6.png");
  color: #45cd8f;
  border-radius: 50%;
  border: 0.2rem solid black;
}

.btnNext {
  width: 5rem;
  height: 5rem;
  justify-content: center;
  background-image: url("./Image/nextBack3.png");
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: whitesmoke;
  border: 0.2rem solid black;
}
.btnNext:hover {
  background-color: #19d2ff;
  background-image: url("./Image/nextBlack.png");
  border-radius: 50%;
  background-size: 110%;

  border: 0.2rem solid black;
}

.heartMan {
  width: 6rem;
  height: 5rem;
  justify-content: center;
  background-image: url("./Image/man.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: -0.15rem;
  
}

.heartWoman {
  width: 6rem;
  height: 5rem;
  justify-content: center;
  background-image: url("./Image/man.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: -0.15rem;
}

.btnMore {
  border: none;
  color: rgb(21, 19, 155);
  margin-top: 1rem;
  background-color: #ffaa00;
}

.btnMore:hover {
  color: black;
}

.deck {
  position: absolute;
  width: 300px;
  height: 200px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck > div {
  /* touch-action: none;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px; */
  
}

.containerFav{
  display: flex;
}

.cardFav{
  justify-content: center;
  width: 400px;
  height: auto;
  border: solid black;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 10px;
  background-color: black;
  color:white

  /* box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) ; */
}
.card:hover {
  transition: all 0.7s linear;

}

.btnMoreFav {
  border: none;
  color: rgb(223, 226, 31);
  margin-top: 1rem;
  background-color: black;
}

.btnMoreFav:hover {
  color: white;
}

.containerMore{
  width: 100rem;
  height: 100rem;
  background: black;
}